In [2]:
import pandas as pd
import numpy as np

C:\Users\ERIC\AppData\Roaming\Python\Python311\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [3]:
#  load the data
data = pd.read_csv('pyrethrum_price.csv')
data.describe()

                Fp           RI           Py           KT           Pd
count  2290.000000  2290.000000  2290.000000  2290.000000  2290.000000
mean   1654.315776   122.732875    31.842221    20.084997     1.283653
std     519.111540    23.283346    19.523517     7.092566     0.131547
min     676.530029    70.000000     7.960000     8.850000     1.039047
25%    1239.874969   109.725000    14.380000    15.570000     1.171313
50%    1551.434998   120.580002    33.869999    17.268500     1.303297
75%    2073.010070   132.840004    37.827501    22.882500     1.369971
max    2872.870117   184.589996   117.480003    47.259998     1.598798

In [4]:
print(data.columns)
pyrethrum_data = data.drop(['RI', 'Py', 'KT', 'Pd'], axis=1)

Index(['Date', 'Fp', 'RI', 'Py', 'KT', 'Pd'], dtype='object')

In [5]:
# Assuming you want to change the name 'RI' to 'NewColumnName'
pyrethrum_data.rename(columns={'Fp': 'Price'}, inplace=True)
pyrethrum_data

           Date        Price
0      1/2/2008  1447.160034
1      1/3/2008  1447.160034
2      1/4/2008  1411.630005
3      1/7/2008  1416.180054
4      1/8/2008  1390.189941
...         ...          ...
2285   5/8/2018  2671.919922
2286   5/9/2018  2697.790039
2287  5/10/2018  2723.070068
2288  5/14/2018  2730.129883
2289  5/16/2018  2725.780029

[2290 rows x 2 columns]

In [6]:
pyrethrum_data['Altitude'] = None
pyrethrum_data['Rainfall'] = None
pyrethrum_data['Pyrethrin_Content'] = None
pyrethrum_data['Altitude'] = None

pyrethrum_data['Temperature'] = None
pyrethrum_data['Humidity'] = None
pyrethrum_data['Soil_ph'] = None

In [7]:
pyrethrum_data

,Date,Price,Altitude,Rainfall,Pyrethrin_Content,Temperature,Humidity,Soil_ph
0,1/2/2008,1447.160034,None,None,None,None,None,None
1,1/3/2008,1447.160034,None,None,None,None,None,None
2,1/4/2008,1411.630005,None,None,None,None,None,None
3,1/7/2008,1416.180054,None,None,None,None,None,None
4,1/8/2008,1390.189941,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...
2285,5/8/2018,2671.919922,None,None,None,None,None,None
2286,5/9/2018,2697.790039,None,None,None,None,None,None
2287,5/10/2018,2723.070068,None,None,None,None,None,None
2288,5/14/2018,2730.129883,None,None,None,None,None,None
2289,5/16/2018,2725.780029,None,None,None,None,None,None

In [8]:
pyrethrum_data.describe()

             Price
count  2290.000000
mean   1654.315776
std     519.111540
min     676.530029
25%    1239.874969
50%    1551.434998
75%    2073.010070
max    2872.870117

In [35]:
import random

max_price = 2872
optimal_altitude = 2130
min_altitude = 1980
max_altitude = 2500
constant = optimal_altitude / max_altitude

# Custom function to calculate altitude
def calculate_altitude(price):
    threshold = price / max_price
    altitude = max_altitude * threshold * constant
    return altitude

def calculate_temperature(price):
    threshold = price / max_price
    temperature  = 35 * threshold 
    return temperature

def calculate_humidity(price):
    threshold = price / max_price
    humidity = 80 * threshold 
    return humidity


def calculate_rainfall(price):
    threshold = price / max_price
    altitude = 1226 * threshold
    return altitude

def calculate_pyrethrum_content(price):
    threshold = price / max_price
    PC  = 2.1 * threshold
    return PC

def calculate_pyrethrum_content(price):
    threshold = price / max_price
    PC  = 2.1 * threshold
    return PC

def calculate_pH(price):
    threshold = price / max_price
    PC  = threshold
    return PC


# Apply the function to create a new column 'Altitude'
pyrethrum_data['Altitude'] = pyrethrum_data['Price'].apply(calculate_altitude)
pyrethrum_data['Rainfall'] = pyrethrum_data['Price'].apply(calculate_rainfall)
pyrethrum_data['Pyrethrin_Content'] = pyrethrum_data['Price'].apply(calculate_pyrethrum_content)
pyrethrum_data['Temperature'] = pyrethrum_data['Price'].apply(calculate_temperature)
pyrethrum_data['Humidity'] = pyrethrum_data['Price'].apply(calculate_humidity)

pyrethrum_data.head(-50)

,Date,Price,Altitude,Rainfall,Pyrethrin_Content,Temperature,Humidity,Soil_ph
0,1/2/2008,1447.160034,1073.276766,617.763998,1.058160,17.636003,40.310864,5.085425
1,1/3/2008,1447.160034,1073.276766,617.763998,1.058160,17.636003,40.310864,5.085425
2,1/4/2008,1411.630005,1046.926153,602.596931,1.032181,17.203012,39.321170,4.410062
3,1/7/2008,1416.180054,1050.300667,604.539257,1.035508,17.258462,39.447912,6.241058
4,1/8/2008,1390.189941,1031.025270,593.444592,1.016504,16.941730,38.723954,6.664708
...,...,...,...,...,...,...,...,...
2235,2/16/2018,2732.219971,2026.333056,1166.330670,1.997793,33.296553,76.106406,4.628545
2236,2/20/2018,2716.260010,2014.496456,1159.517678,1.986123,33.102054,75.661839,6.072459
2237,2/21/2018,2701.330078,2003.423770,1153.144386,1.975207,32.920109,75.245963,6.850548
2238,2/22/2018,2703.959961,2005.374205,1154.267031,1.977129,32.952158,75.319219,5.189422
2239,2/23/2018,2747.300049,2037.517098,1172.768057,2.008820,33.480328,76.526464,6.576104

In [38]:
newdata = pyrethrum_data.drop('Date' ,axis= 1)
newdata

,Price,Altitude,Rainfall,Pyrethrin_Content,Temperature,Humidity,Soil_ph
0,1447.160034,1073.276766,617.763998,1.058160,17.636003,40.310864,5.085425
1,1447.160034,1073.276766,617.763998,1.058160,17.636003,40.310864,5.085425
2,1411.630005,1046.926153,602.596931,1.032181,17.203012,39.321170,4.410062
3,1416.180054,1050.300667,604.539257,1.035508,17.258462,39.447912,6.241058
4,1390.189941,1031.025270,593.444592,1.016504,16.941730,38.723954,6.664708
...,...,...,...,...,...,...,...
2285,2671.919922,1981.611920,1140.589772,1.953702,32.561698,74.426739,5.496393
2286,2697.790039,2000.798323,1151.633213,1.972618,32.876968,75.147355,6.531819
2287,2723.070068,2019.547091,1162.424757,1.991103,33.185046,75.851534,4.831258
2288,2730.129883,2024.782956,1165.438453,1.996265,33.271081,76.048186,6.618365
2289,2725.780029,2021.556916,1163.581586,1.993084,33.218071,75.927020,6.598424

In [11]:
# // split

,Price,Altitude,Rainfall,Pyrethrin_Content,Temperature,Humidity,Soil_ph
count,2290.000000,2290.000000,2290.000000,2290.000000,2290.000000,2290.000000,2290.000000
mean,1654.315776,1226.912467,706.194687,1.209632,20.160533,46.081219,5.501854
std,519.111540,384.995676,221.598450,0.379573,6.326220,14.459931,0.867490
min,676.530029,501.744067,288.797290,0.494677,8.244621,18.844848,4.000203
25%,1239.874969,919.545155,529.278103,0.906594,15.109897,34.536907,4.749704
50%,1551.434998,1150.611610,662.276917,1.134406,18.906764,43.215460,5.516861
75%,2073.010070,1537.434349,884.927001,1.515780,25.263006,57.744013,6.267956
max,2872.870117,2130.645317,1226.371436,2.100636,35.010604,80.024237,6.999575

In [40]:
pyrethrum_data.tail(49)

,Date,Price,Altitude,Rainfall,Pyrethrin_Content,Temperature,Humidity,Soil_ph
2241,2/27/2018,2744.280029,2035.277320,1171.478870,2.006611,33.443524,76.442341,5.720658
2242,2/28/2018,2713.830078,2012.694313,1158.480388,1.984347,33.072442,75.594153,5.773813
2243,3/1/2018,2677.669922,1985.876370,1143.044333,1.957906,32.631771,74.586906,6.043966
2244,3/2/2018,2691.250000,1995.947946,1148.841400,1.967836,32.797267,74.965181,5.191847
2245,3/5/2018,2720.939941,2017.967296,1161.515448,1.989545,33.159087,75.792199,5.572547
2246,3/6/2018,2728.120117,2023.292427,1164.580523,1.994795,33.246589,75.992204,4.900077
2247,3/7/2018,2726.800049,2022.313407,1164.017013,1.993830,33.230502,75.955433,4.416896
2248,3/8/2018,2738.969971,2031.339150,1169.212112,2.002729,33.378812,76.294428,4.170140
2249,3/9/2018,2786.570068,2066.641450,1189.531652,2.037534,33.958897,77.620336,6.493880
2250,3/12/2018,2783.020020,2064.008580,1188.016206,2.034938,33.915634,77.521449,5.029824
2251,3/13/2018,2765.310059,2050.874104,1180.456174,2.021989,33.699809,77.028135,6.627615
2252,3/14/2018,2749.479980,2039.133829,1173.698627,2.010414,33.506894,76.587186,6.932382
2253,3/15/2018,2747.330078,2037.539368,1172.780876,2.008842,33.480694,76.527300,5.396251
2254,3/16/2018,2752.010010,2041.010209,1174.778646,2.012264,33.537726,76.657660,4.464575
2255,3/19/2018,2712.919922,2012.019301,1158.091861,1.983681,33.061350,75.568800,4.679777
2256,3/20/2018,2716.939941,2015.000722,1159.807927,1.986620,33.110341,75.680778,4.484216
2257,3/21/2018,2711.929932,2011.285082,1157.669254,1.982957,33.049285,75.541224,5.156034
2258,3/22/2018,2643.689941,1960.675339,1128.538951,1.933060,32.217670,73.640388,5.757695
2259,3/23/2018,2588.260010,1919.566094,1104.877010,1.892530,31.542166,72.096379,4.397533
2260,3/26/2018,2658.550049,1971.696241,1134.882437,1.943926,32.398765,74.054319,4.880620
2261,3/27/2018,2612.620117,1937.632608,1115.275858,1.910342,31.839033,72.774934,6.909051
2262,3/28/2018,2605.000000,1931.981198,1112.022981,1.904770,31.746170,72.562674,5.671437
2263,3/29/2018,2640.870117,1958.584035,1127.335224,1.930998,32.183306,73.561842,6.850288
2264,4/2/2018,2581.879883,1914.834314,1102.153460,1.887865,31.464414,71.918660,4.469685
2265,4/3/2018,2614.449951,1938.989692,1116.056978,1.911680,31.861333,72.825904,6.109449
2266,4/4/2018,2644.689941,1961.416983,1128.965831,1.933791,32.229857,73.668243,5.351073
2267,4/5/2018,2662.840088,1974.877920,1136.713770,1.947063,32.451046,74.173819,6.491815
2268,4/9/2018,2613.159912,1938.032943,1115.506286,1.910737,31.845612,72.789970,6.275633
2269,4/10/2018,2656.870117,1970.450331,1134.165308,1.942698,32.378292,74.007524,4.496038
2270,4/11/2018,2642.189941,1959.562874,1127.898631,1.931963,32.199390,73.598606,5.442072
2271,4/12/2018,2663.989990,1975.730738,1137.204641,1.947904,32.465059,74.205849,5.386155
2272,4/16/2018,2677.840088,1986.002572,1143.116973,1.958031,32.633845,74.591646,4.702731
2273,4/17/2018,2706.389893,2007.176348,1155.304321,1.978906,32.981771,75.386905,6.703712
2274,4/18/2018,2708.639893,2008.845046,1156.264801,1.980551,33.009191,75.449579,4.811827
2275,4/19/2018,2693.129883,1997.342149,1149.643885,1.969211,32.820176,75.017545,6.382556
2276,4/23/2018,2670.290039,1980.403128,1139.894007,1.952510,32.541835,74.381338,4.118977
2277,4/24/2018,2634.560059,1953.904222,1124.641585,1.926384,32.106407,73.386074,5.569240
2278,4/25/2018,2639.399902,1957.493660,1126.707618,1.929923,32.165389,73.520889,4.708515
2279,4/26/2018,2666.939941,1977.918550,1138.463916,1.950061,32.501009,74.288021,5.253513
2280,4/30/2018,2648.050049,1963.908985,1130.400195,1.936248,32.270805,73.761840,6.137195
2281,5/1/2018,2654.800049,1968.915078,1133.281637,1.941184,32.353065,73.949862,6.391229
2282,5/2/2018,2635.669922,1954.727345,1125.115364,1.927196,32.119933,73.416989,4.278958
2283,5/3/2018,2629.729980,1950.322026,1122.579720,1.922853,32.047545,73.251531,5.322883
2284,5/7/2018,2672.629883,1982.138458,1140.892840,1.954221,32.570350,74.446515,6.276899
2285,5/8/2018,2671.919922,1981.611920,1140.589772,1.953702,32.561698,74.426739,5.496393
2286,5/9/2018,2697.790039,2000.798323,1151.633213,1.972618,32.876968,75.147355,6.531819
2287,5/10/2018,2723.070068,2019.547091,1162.424757,1.991103,33.185046,75.851534,4.831258
2288,5/14/2018,2730.129883,2024.782956,1165.438453,1.996265,33.271081,76.048186,6.618365
2289,5/16/2018,2725.780029,2021.556916,1163.581586,1.993084,33.218071,75.927020,6.598424

In [45]:
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score

In [46]:
x = newdata.drop('Price', axis=1)
y = newdata['Price']  # Use square brackets to access the 'Price' column
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [49]:
# // create model  from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LinearRegression

# Create a Linear Regression model
model = LinearRegression()

# Fit the model
model.fit(x_train, y_train)

LinearRegression()

In [52]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Make predictions on the test data
y_pred = model.predict(x_test)


# Evaluate the model
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Absolute Error:", mae)
print("Mean Squared Error:", mse)
print("R-squared:", r2)

Mean Absolute Error: 2.534372517767903e-13
Mean Squared Error: 1.2803351661957855e-25
R-squared: 1.0

In [53]:
# // save the model 
import pickle
with open('pyrethrum_prediction_price.pkl', 'wb') as files:
    pickle.dump(model,files)

In [ ]:
# //load modeland test it